*{
  font-family: sans-serif;
}

#hero {
  display:flex;
  flex-direction: column;
  background-image: url(../images/hero-bkg.png), linear-gradient(#00000070,#00000022);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border-top: 100px solid transparent;
}

#hero-box {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  border-radius: 1rem;
}

#hero h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 4px black;
  margin-top: .75rem;
}

#services {
  /*display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  max-width: 90%;
  margin: auto;
}

.service {
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25rem;
  max-width: 30%;
  min-width: 8rem;
  justify-content: space-between;
}

#services:last-child {
  padding-bottom: 1rem;
}

.service * {
  margin-top: .75rem;
}

.service a {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 0.7rem;
  color: white;
  text-decoration: none;
  padding-bottom: 0.7rem;
  border-radius: 0.5rem;
  background-color: #848484;
  box-shadow: inset 0.125rem 0.125rem 0.125rem 0.125rem #646464, 0.125rem 0.125rem 0.125rem 0.125rem #979797;
}


#services p{
  text-align: center;
}

/* CSS */
.service a {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

.service a:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.service a:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.service a:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}