*{
  font-family: sans-serif;
}

.hero {
  display:flex;
  flex-direction: column;
  background-image: url(../images/hero-bkg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 60vh;
  border-top: 100px solid transparent;
}

.hero-box {
  background-color: #ffffff50;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  border-radius: 1rem;
}

.hero h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
}

.hero h2 {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-top: .75rem;
}
