*{
  font-family: sans-serif;
}

header {
  height: 100px;
  background-color:  #848484;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

img {
  max-height: 90%;
  margin-left: 3vw;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
}

header a {
  font-weight: 700;
  margin: 0 1vw;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #1649ff;
}

#hero {
  display:flex;
  flex-direction: column;
  background-image: url(../images/hero-bkg.png), linear-gradient(#00000070,#00000022);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border-top: 100px solid transparent;
}

#hero-box {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  border-radius: 1rem;
}

#hero h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 4px black;
  margin-top: .75rem;
}

#services {
  /*display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  row-gap: 2rem;
  max-width: 90%;
  margin: auto;
}

.service {
  margin-left: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25rem;
  max-width: 30%;
  min-width: 8rem;
  justify-content: space-between;
}
.service * {
  margin-top: .75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

#services p{
  text-align: center;
}